<div class="container">
    <div class="form">
        <h3>Login</h3>
        <form [formGroup]="login">
            <input type="email" class="inp" placeholder="Email" formControlName="email" > <br>
            <input type="password" class="inp"  placeholder="password" formControlName="password"> <br>
            
        </form>
    </div>
    <div class="button">
        <button (click)="loginSubmit(login.value)" [disabled]="login.invalid" type="submit">Login</button>
        <button  (click)="goSignup()" type="submit">Register</button>
    </div>
</div>
