
.container{
    width: 30%;
    border-radius: 2vw;
    padding-top: 2vw;
    margin-top: 7vw;
    margin-left: 30vw;
}
.form {
    padding: 5vw;
}
.form input {
    padding: 0.5vw;
    margin-top: 1vw;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 30vw;
    border-bottom: 0.2vw solid #01264e  ;
}
button {
    width: 10vw;
    margin: 0.3vw;
    padding: 0.5vw;
    background-color: #01264e;
    color: white;
    font-size: 1vw;
    border-radius: 1vw;
    cursor: pointer;
}
.button{
    border: 1vw;
    width: 100%;
    display: flex;
    margin-left: 8vw;
    margin-top: -2vw;
}
h3{
    text-align: center;
    font-size: 2vw;
    margin-bottom: 2vw;
    color: #01264e;
}
:disabled{
    background-color: #01264e;
    color: white;
    cursor: not-allowed;
}